
<!doctype html>
<html>
  <head>

    </style>
  </head>
  <body>
  <h1>DTApp</h1>
  <title>Downloadlink to the DigitalTwin App for Health Monitoring <a href="/ratirlPickle2.png" download="My Digital Twin">here.</a> </title>
    <div class="app-desc">Digital Twin Application, unfinished.</div>
    <div class="app-desc">More information: <a href="https://openapi-generator.tech">https://openapi-generator.tech</a></div>
    <div class="app-desc">Contact Info: <a href="team@openapitools.org">team@openapitools.org</a></div>
    <div class="app-desc">Version: 0.0.1</div>
    <div class="app-desc">BasePath:</div>
    <div class="license-info">All rights reserved</div>
    <div class="license-url">http://apache.org/licenses/LICENSE-2.0.html</div>
 
  </body>
</html>
